*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
}

.container{
    max-width: 1200px;
    margin: auto;
}

#icone{
    margin-right: 12vw;
    width: 3vw;
    height: 3vw;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
}

header.rolagem{
    background-color: #000000ad;
    opacity: 85%;
    padding: 20px 4%;
    transition: 1s;
    ;
}

header.rolagem a img{
    width: 15%;
    height: 15%;
    filter: invert(1);
    transition: 1s;
}
header a img{  
    width: 15%;
    height: 15%;
    filter: invert(1);
}

header ul{
    list-style-type: none;
    width: 50vw;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
}

header ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

header.rolagem ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


nav ul li a:hover{
    font-size: 20px;
    color: #ec93e8;
    text-decoration: none;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../menu/img/background1.jpg);
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
    color: #fff;
}

.banner h1 span{
    color: #e73bdf;
} 

.banner3{
    width: 100%;
    height: 100vh;
    background-image: url(../menu/img/background2.jpg);
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner3 h1{
    font-size: 4em;
}

.banner3 h1 span{
    color: #e73bdf;
} 
.btn-contato button{
    font-size: 18px;
    width: 120px;
    height: 40px;	
    border: 0;
    background-color: #e73bdf;
    color: #fff;
    cursor: pointer;
    transition: .1s;
    margin-right: 1vw;
}
.btn-contato button:hover{
    background-color: #fff;
    color: #e73bdf;
}

.banner2{
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 80%;
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

   